body{
    background-color: black;
}
.container{
    padding: 100px 0px 0px 650px;

}
#img{
    width: 400px;
    height: 700px;
}

.btnContainer{
  display: flex;
  gap: 20px;
  margin-left: 120px;
}
button{
    padding: 20px;
}
